<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div class="row">
    <div class="col-sm-6">
    <h4>Create New Task:</h4>
    <!-- <%= link_to 'Add new Task', new_todo_path %> -->
	 <%= render 'form' %> 
    </div>

    <div class="col-sm-6 navside">
      <button type="button" class="btn btn-default btn-block">
	  <%= link_to 'Show Open Tasks', show_open_tasks_path %></button>
	  <button type="button" class="btn btn-default btn-block" style: "color: green">
	  <%= link_to 'Show Completed Tasks', show_done_tasks_path %></button>
	  <button type="button" class="btn btn-default btn-block" style = "color: green">
	  <%= link_to 'Show Archived Tasks', show_archive_tasks_path %></button>
	  <button type="button" class="btn btn-default btn-block" style = "color: green">
	  <%= link_to 'Show Priority Tasks', show_priority_tasks_path %></button>
	  <button type="button" class="btn btn-default btn-block" style = "color: green">
	  <%= link_to 'Show Recent tasks Tasks', show_archive_tasks_path %></button>
	</div> 
  </div><br><br>
  <h4>Today's Tasks</h4>
  <% @task_list.each do |x| %>
  	<%= x.deadline %>
    <%= x.desc %>
  	<% end %>
  <h4>Upcoming Tasks</h4>
</body>
</html>